table {
    a[target='_blank'] {
        white-space: nowrap;
        display: inline-flex;
        align-items: center;
        background: $accentColor;
        color: #ffffff;
        padding: 5px 7px;
        border-radius: 3px;
        font-size: 0.9em;
        .icon.outbound {
            margin-left: 5px;
            color: #ffffff;
        }
    }
}

.navbar .site-name {
    display: none;
}
